<script type="text/javascript" src="/js/updateQuestionOptions.js?v=20180829"></script>
<h1>建立題目</h1>

<%= simple_form_for @question, url: paper_questions_path do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.input :position, input_html: {value: @auto_num},label: '題號' %>
  <%= f.input :title,as: :text,input_html:{rows: 5}, label: '題幹' %>
  <%= f.input :title_attr,as: :file, label: '附檔' %>
  <%= f.input :title_url, label: '題幹影片URL' %>
  <input type="button" class="btn btn-primary" id="title-preview" value="影片預覽">
  <iframe id="title-video" src=""></iframe>
    <input type="button" class="btn btn-primary" data-toggle="modal" data-target="#instruction" value="影片連結說明"> 
  <%= f.input :title_url_show_type, collection: [ ["原始影片", 'raw'], ["顯示預覽","preview"]],:item_wrapper_class => 'inline', as: :radio_buttons, label: '顯示方式' %> 
  <img class="imgTitle">
  <%= f.input :question_type, collection: [ ["單選", "single"], ["複選","multiple"], ["非選","nonchoice"],["題幹(只有敘述)","vignette"]], :label => "題型", :include_blank => false %>
  <div id="option-board">
    <%= f.input :questionA, :input_html => { :class => "question_option" },label: '選項A' %>
    <%= f.input :questionA_attr,as: :file, label: '附檔' %>
    <img class="imgA">
    <%= f.input :questionB, :input_html => { :class => "question_option" }, label: '選項B' %>
    <%= f.input :questionB_attr,as: :file, label: '附檔' %>
    <img class="imgB">
    <%= f.input :questionC, :input_html => { :class => "question_option" }, label: '選項C' %>
    <%= f.input :questionC_attr,as: :file, label: '附檔' %>
    <img class="imgC">
    <%= f.input :questionD, :input_html => { :class => "question_option" }, label: '選項D' %>
    <%= f.input :questionD_attr,as: :file, label: '附檔' %>
    <img class="imgD">
  </div>
  <div id="option-buttons">
    <span id="add-option"><img src="/plus.png" class="pixel-icon"> 新增選項</span>
    <span id="delete-option"><img src="/minus.png" class="pixel-icon"> 刪除選項</span>
  </div>
  <br>
  <br>
  <br>
  <% if @question.question_type !="vignette"%>
  <div id="answer-board">
    <%= f.input :answer, collection: [ "A", "B", "C","D"],:item_wrapper_class => 'inline', as: :radio_buttons, label: ' 答案 ' %>
  </div>
  <div id="question-board">
  <%= f.input :analysis,as: :text,input_html:{rows: 3}, label: '詳解' %>  
  <%= f.input :analysis_att,as: :file, label: '附檔' %>  
  <img class="imgAns">
  <%= f.input :analysis_url, label: '詳解影片URL' %>  
  <input type="button" class="btn btn-primary" id="analysis-preview" value="影片預覽">
  <iframe id="analysis-video" src=""></iframe>
    <input type="button" class="btn btn-primary" data-toggle="modal" data-target="#instruction" value="影片網址格式說明"> 
  <%= f.input :analysis_url_show_type, collection: [ ["原始影片", 'raw'], ["顯示預覽","preview"]],:item_wrapper_class => 'inline', as: :radio_buttons, label: '顯示方式' %> 
  </div>
  <% end %>
  <%= f.input :difficulty_degree, collection: [ "低", "中", "高"], :label => "難易度", :selected => "中"%>
  <%= f.input :knowledge_point, label: '知識點' %>    
  <p>備註：請用「;」來分隔知識點</p>
  <%= f.input :active,:item_wrapper_class => 'inline', as: :radio_buttons, label: ' 有效性 ' %>
  <%= f.input :paper_id,as: :hidden,input_html: {value: @paper.id} %>  
  <%= f.input :optionCount,as: :hidden,input_html: {value: 4} %>  
  <%= f.button :submit , "送出", class: "btn btn-primary" %>
  <a href='/papers/<%=@paper.id%>/questions'><button class="btn btn-primary">上一頁</button></a>
<% end %>


<!-- Modal -->
<div class="modal fade" id="instruction" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">影片網址格式說明 </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      影片網址格式說明 <br>

      ● 嵌入影片：目前「Youtube」、「Google雲端硬碟」的影片可以直接嵌入並顯示預覽，其他來源影片若要以「嵌入影片」方式呈現，也要採用「嵌入影片」類型的網址，來源請選擇「嵌入影片」，其格式範例如下：<br>
      - Youtube<br>
        <a target="_blank" href="https://www.youtube.com/embed/id_of_video">https://www.youtube.com/embed/id_of_video</a><br>
        範例：<br>
        <a target="_blank" href="https://www.youtube.com/embed/sQk4e7IbpZk">https://www.youtube.com/embed/sQk4e7IbpZk</a><br>

      - Google雲端硬碟<br>
        <a target="_blank" href="https://docs.google.com/file/d/id_of_video/preview">https://docs.google.com/file/d/id_of_video/preview</a><br>
        範例：<br>
        <a target="_blank" href="https://docs.google.com/file/d/1fhLgzIDFsqyxuYgm25O-LvCsauqe_V-f/preview">https://docs.google.com/file/d/1fhLgzIDFsqyxuYgm25O-LvCsauqe_V-f/preview</a><br>

      ● 原始影片：若有其他來源非「Youtube」、「Google 雲端硬碟」的影片，且非「嵌入影片」類型的網址，來源請選擇「原始影片」，其格式範例如下：<br>
        <a target="_blank" href="http://30.13.42.111/public/demo.mp4">http://30.13.42.111/public/demo.mp4</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript" src="/js/preview.js"></script> 
