<style>
.attachment{
  max-width: 300px;
}
</style>
<p id="notice"><%= notice %></p>

<p>
  <strong>題幹:</strong>
  <%= @question.title %>
</p>

<p>
  <strong>題幹附檔:</strong>
  <% if @question.title_attr.url != nil%>
    <% if @image_file_type.any? { |filetype| @question.title_attr.url.include? filetype }%>
      <%= image_tag @question.title_attr.url ,:class => "attachment"%>
    <% else %>
      <audio controls>
        <source src="<%= @question.title_attr.url %>" type="audio/mpeg">
        </source>
      </audio>
    <% end %>
  <% end %>
</p>
<p>
  <strong>題幹Url:</strong>
  <%= @question.title_url %>
</p>
<iframe id="title-video" src=<%= @question.title_url %>></iframe>
<p>
  <strong>解析:</strong>
  <%= @question.analysis %>
</p>

<p>
  <strong>解析附檔:</strong>
  <% if @question.analysis_att.url != nil %>
    <% if @image_file_type.any? { |filetype| @question.analysis_att.url.include? filetype }%>
      <%= image_tag @question.analysis_att.url ,:class => "attachment"%>
    <% else %>
      <audio controls>
        <source src="<%= @question.analysis_att.url %>" type="audio/mpeg">
        </source>
      </audio>
    <% end %>
  <% end %>
</p>
<p>
  <strong>解析Url:</strong>
  <%= @question.analysis_url %>
</p>
<iframe id="analysis-video" src=<%= @question.analysis_url %>></iframe>
<p>
  <strong>選項Ａ:</strong>
  <%= @question.questionA %>
</p>

<p>
  <strong>選項Ａ附圖:</strong>
  <% if @question.questionA_attr.url != nil %>
    <% if @image_file_type.any? { |filetype| @question.questionA_attr.url.include? filetype } %>
      <%= image_tag @question.questionA_attr.url ,:class => "attachment"%>
    <% else %>
      <audio controls>
        <source src="<%= @question.questionA_attr.url %>" type="audio/mpeg">
        </source>
      </audio>
    <% end %>
  <% end %>
</p>

<p>
  <strong>選項Ｂ:</strong>
  <%= @question.questionB %>
</p>

<p>
  <strong>選項Ｂ附圖:</strong>
  <% if @question.questionB_attr.url != nil %>
    <% if @image_file_type.any? { |filetype| @question.questionB_attr.url.include? filetype } %>
      <%= image_tag @question.questionB_attr.url ,:class => "attachment"%>
    <% else %>
      <audio controls>
        <source src="<%= @question.questionB_attr.url %>" type="audio/mpeg">
        </source>
      </audio>
    <% end %>
  <% end %>
</p>

<p>
  <strong>選項Ｃ:</strong>
  <%= @question.questionC %>
</p>

<p>
  <strong>選項Ｃ附圖:</strong>
  <% if @question.questionC_attr.url != nil %>
    <% if @image_file_type.any? { |filetype| @question.questionC_attr.url.include? filetype } %>
      <%= image_tag @question.questionC_attr.url ,:class => "attachment"%>
    <% else %>
      <audio controls>
        <source src="<%= @question.questionC_attr.url %>" type="audio/mpeg">
        </source>
      </audio>
    <% end %>
  <% end %>
</p>

<p>
  <strong>選項Ｄ:</strong>
  <%= @question.questionD %>
</p>

<p>
  <strong>選項Ｄ附圖::</strong>
  <% if @question.questionD_attr.url != nil %>
    <% if @image_file_type.any? { |filetype| @question.questionD_attr.url.include? filetype } %>
      <%= image_tag @question.questionD_attr.url ,:class => "attachment"%>
    <% else %>
      <audio controls>
        <source src="<%= @question.questionD_attr.url %>" type="audio/mpeg">
        </source>
      </audio>
    <% end %>
  <% end %>
</p>

<p>
  <strong>選項Ｅ:</strong>
  <%= @question.questionE %>
</p>

<p>
  <strong>選項Ｅ附圖::</strong>
  <% if @question.questionE_attr.url != nil %>
    <% if @image_file_type.any? { |filetype| @question.questionE_attr.url.include? filetype } %>
      <%= image_tag @question.questionE_attr.url ,:class => "attachment"%>
    <% else %>
      <audio controls>
        <source src="<%= @question.questionE_attr.url %>" type="audio/mpeg">
        </source>
      </audio>
    <% end %>
  <% end %>
</p>

<p>
  <strong>選項Ｆ:</strong>
  <%= @question.questionF %>
</p>

<p>
  <strong>選項Ｆ附圖::</strong>
  <% if @question.questionF_attr.url != nil %>
    <% if @image_file_type.any? { |filetype| @question.questionF_attr.url.include? filetype } %>
      <%= image_tag @question.questionF_attr.url ,:class => "attachment"%>
    <% else %>
      <audio controls>
        <source src="<%= @question.questionF_attr.url %>" type="audio/mpeg">
        </source>
      </audio>
    <% end %>
  <% end %>
</p>


