<script>
$(function(){
var localPath = window.location.pathname
var localParam = window.location.search
var excelUrl = localPath + ".xls" + localParam
$("#excelUrl").attr("href",excelUrl)
})

</script>

<p id="notice"><%= notice %></p>

<h1>使用者分析</h1>
<a id="excelUrl"  href="/user_analytics.xls"><button class="btn btn-primary" >匯出報表</button></a>
<%= render 'filters', student_open_paper_logs: @student_open_paper_logs %>
<table class="table">
  <thead>
    <tr class="thead">
      <th>學生姓名&nbsp;
        <a class="sorter" id="name-ASC" href="/user_analytics?relation=student&&attribute=name&&order=ASC"><img src="/sort-up.png"></a>
        <a class="sorter" id='name-DESC' href="/user_analytics?relation=student&&attribute=name&&order=DESC"><img src="/sort-down.png"></a>      
      </th>
      <th>年段&nbsp;
        <a class="sorter" id="name-ASC" href="/user_analytics?relation=student&&attribute=grade&&order=ASC"><img src="/sort-up.png"></a>
        <a class="sorter" id='name-DESC' href="/user_analytics?relation=student&&attribute=grade&&order=DESC"><img src="/sort-down.png"></a>      
      </th>
      <th>就讀學校&nbsp;
        <a class="sorter" id="name-ASC" href="/user_analytics?relation=student&&attribute=school&&order=ASC"><img src="/sort-up.png"></a>
        <a class="sorter" id='name-DESC' href="/user_analytics?relation=student&&attribute=school&&order=DESC"><img src="/sort-down.png"></a>      
      </th>
      <th>年級&nbsp;
        <a class="sorter" id="name-ASC" href="/user_analytics?relation=student&&attribute=years&&order=ASC"><img src="/sort-up.png"></a>
        <a class="sorter" id='name-DESC' href="/user_analytics?relation=student&&attribute=years&&order=DESC"><img src="/sort-down.png"></a>      
      </th>
      <th>試卷名稱&nbsp;
        <a class="sorter" id="name-ASC" href="/user_analytics?relation=paper&&attribute=title&&order=ASC"><img src="/sort-up.png"></a>
        <a class="sorter" id='name-DESC' href="/user_analytics?relation=paper&&attribute=title&&order=DESC"><img src="/sort-down.png"></a>
      </th>
      <th>試卷科目&nbsp;
        <a class="sorter" id="name-ASC" href="/user_analytics?relation=paper_subjects&&order=ASC"><img src="/sort-up.png"></a>
        <a class="sorter" id='name-DESC' href="/user_analytics?relation=paper_subjects&&order=DESC"><img src="/sort-down.png"></a>
      </th>
      <th>上架日期&nbsp;
        <a class="sorter" id="name-ASC" href="/user_analytics?relation=paper&&attribute=public_date&&order=ASC"><img src="/sort-up.png"></a>
        <a class="sorter" id='name-DESC' href="/user_analytics?relation=paper&&attribute=public_date&&order=DESC"><img src="/sort-down.png"></a>      
      </th> 
      <th>題數&nbsp;
        <a class="sorter" id="name-ASC" href="/user_analytics?relation=questions&&order=ASC"><img src="/sort-up.png"></a>
        <a class="sorter" id='name-DESC' href="/user_analytics?relation=questions&&order=DESC"><img src="/sort-down.png"></a>      
      </th>      
      <th>累積作答次數&nbsp;
        <a class="sorter" id="name-ASC" href="/user_analytics?orderParam=answer_times&&order=ASC"><img src="/sort-up.png"></a>
        <a class="sorter" id='name-DESC' href="/user_analytics?orderParam=answer_times&&order=DESC"><img src="/sort-down.png"></a>       
      </th>
      <th>累積作答時間&nbsp;
        <a class="sorter" id="name-ASC" href="/user_analytics?orderParam=answer_time&&order=ASC"><img src="/sort-up.png"></a>
        <a class="sorter" id='name-DESC' href="/user_analytics?orderParam=answer_time&&order=DESC"><img src="/sort-down.png"></a>         
      </th>
      <th>完成率&nbsp;
        <a class="sorter" id="name-ASC" href="/user_analytics?orderParam=finish_rate&&order=ASC"><img src="/sort-up.png"></a>
        <a class="sorter" id='name-DESC' href="/user_analytics?orderParam=finish_rate&&order=DESC"><img src="/sort-down.png"></a>         
      </th>
      <th>答對率&nbsp;
        <a class="sorter" id="name-ASC" href="/user_analytics?orderParam=correct_rate&&order=ASC"><img src="/sort-up.png"></a>
        <a class="sorter" id='name-DESC' href="/user_analytics?orderParam=correct_rate&&order=DESC"><img src="/sort-down.png"></a>         
      </th>
  </thead>

  <tbody>
    <% @student_paper_logs.each do |log| %>
      <% if log.student.present? %>
        <tr>
          <td class="column-name"><%= log.student.name %></td>
          <td class="column-name"><%= log.student.grade %></td>
          <td class="column-name"><%= log.student.school %></td>
          <td class="column-name"><%= log.student.years %></td>
          <td class="column-name"><%= log.paper.title %></td>
          <td class="column-name">
          <% if log.paper.paper_subject!=nil%>
            <%= log.paper.paper_subject.title %>
          <% end %>
          </td>
          <td class="column-name"><%= log.paper.public_date %></td>
          <td class="column-name"><%= log.paper.questions.size %></td>
          <td class="column-name"><%= log.answer_times %></td>  
          <td class="column-name">
          <% if log.answer_time != nil %>
          <%= log.answer_time.strftime("%H:%M:%S") %>
          <% end %>
          </td>
          <td class="column-name"><%= log.finish_rate.round(2) %>%</td>
          <td class="column-name"><%= log.correct_rate.round(2) %>%</td>

        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @student_paper_logs, :previous_label => '上一頁', :next_label => '下一頁' %>

