<%= simple_form_for(@paper_source) do |f| %>
  <%= f.error_notification %>
   <div class="form-inputs">
    <%= f.input :name, label: "試卷來源名稱" %>
  </div>
   <div class="form-actions">
    <%= f.button :submit, "送出", class: "btn btn-primary" %>
    <a href="/paper_sources"><button class= "btn btn-primary">上一頁</button></a>
  </div>
<% end %>
