<p id="notice"><%= notice %></p>
 <h1>試卷來源管理</h1>
<button class="btn btn-primary"><%= link_to '建立新來源', new_paper_source_path %></button>
<table class="table">
  <thead class="thead">
    <tr>
      <th>來源
      &nbsp;
        <a class="sorter" href="/paper_sources?orderParam=name&&order=ASC"><img src="/sort-up.png"></a>
        <a class="sorter" href="/paper_sources?orderParam=name&&order=DESC"><img src="/sort-down.png"></a>
      </th>
      <th colspan="3"></th>
    </tr>
  </thead>
   <tbody>
    <% @paper_sources.each do |paper_source| %>
      <tr>
        <td class="column-name"><%= paper_source.name %></td>
        <td><%= link_to '編輯', edit_paper_source_path(paper_source) %></td>
        <td><%= link_to '刪除', paper_source, method: :delete, data: { confirm: '你確定嗎？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @paper_sources, :previous_label => '上一頁', :next_label => '下一頁' %>
<br>

