<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @paper_source.name %>
</p>

<p>
  <strong>Platform type:</strong>
  <%= @paper_source.platform_type %>
</p>

<%= link_to 'Edit', edit_paper_source_path(@paper_source) %> |
<%= link_to 'Back', paper_sources_path %>
