
<%= simple_form_for(paper) do |f| %>
  <% if paper.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(paper.errors.count, "error") %> prohibited this paper_subject from being saved:</h2>

      <ul>
      <% paper.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <%= f.input :title, label: '試卷名稱' %>
  <div class="form-group string optional grade">
    <label class="control-label string optional" for="grade">年級</label><br>
      <% @grades.each do |g| %>
        <%= check_box_tag :grade_ids,g.id, f.object.grades.include?(g), :name => "paper[grade_ids][]",class:"boolean optional" %>
        <%= g.name %>
      <% end %>
  </div>
  <%= f.input :paper_subject_id, :collection => @paper_subjects,:value_method => :id,:label_method => :title,:label => "試卷科目", :include_blank => false %>
  <small>相關科目:<span id="relative-subjects"></span></small>
  <br>
  <br>
  <%= f.input :visible, collection: [ "免費可見", "購點後可見", "付費可見"], :label => "可見性設定", :include_blank => false %>
  <% if paper.specific_institution_visible != false %>
    <%= f.input :specific_institution_visible,:item_wrapper_class => 'inline', as: :radio_buttons, label: '只限特定機構有效' %>
    <%= f.input :specific_institution, label: '機構名稱'%>  
  <% else %>
    <%= f.input :specific_institution_visible,:item_wrapper_class => 'inline',:checked => ['無效', false], as: :radio_buttons, label: '只限特定機構有效' %>
    <%= f.input :specific_institution,as: :hidden, label: '機構名稱'%>  
  <% end %>
  <%= f.input :public_date,as: :string, input_html: {type: :date}, label: '上架日期' %>
  <div class="form-group string optional paper_source">
    <label class="control-label string optional" for="paper_source">試卷來源</label><br>
      <% @paper_sources.each do |p| %>
        <%= radio_button_tag :paper_source_id,p.id, f.object.paper_source.try(:id) == p.id, :name => "paper[paper_source_id]",class:"boolean optional" %>
        <%= p.name %>
      <% end %>
  </div>
  <%= f.input :note, label: '備註' %>
  <% if paper.active != nil %>
    <%= f.input :active,:item_wrapper_class => 'inline', as: :radio_buttons, label: '有效性' %>
  <% else %>
    <%= f.input :active,:item_wrapper_class => 'inline',:checked => ['無效', false], as: :radio_buttons, label: '有效性' %>
  <% end %>
  <%= f.button :submit , "送出", class: "btn btn-primary" %>
  <a href="/papers"><button class= "btn btn-primary">上一頁</button></a>
  <% if paper.title != nil %> 
  <button class="btn btn-success"><%= link_to "題目管理", paper_questions_path(paper,:paper_id => paper.id) %></button>
  <% end %>
<% end %>
<script type="text/javascript" src="/js/getSubjects.js" defer></script>
<script>
  $("input[name='paper[specific_institution_visible]']").on('change', function(){
    if($("input#paper_specific_institution_visible_true").prop("checked")){
      $("div.paper_specific_institution").removeClass("hidden")
      $("div.paper_specific_institution label").removeClass("hidden")
      $("input#paper_specific_institution").removeClass("hidden")
      $("input#paper_specific_institution").prop("type", "text")
    }
    else{
      $("div.paper_specific_institution").addClass("hidden")
      $("div.paper_specific_institution label").addClass("hidden")
      $("input#paper_specific_institution").addClass("hidden")
      $("input#paper_specific_institution").prop("type", "hidden")     
      $("input#paper_specific_institution").val("")
    }

  })
</script>
