<script>
$(function(){
  $("#batch-active").click(function(){
    var paper_ids = [];
    var active = true;
    var count = 0;
    $(".paper_id:checked").each(function(){
      paper_ids.push($(this).val());
    });
    ajaxBatchUpdate(paper_ids,active,count)
  });
  $("#batch-inactive").click(function(){
    var paper_ids = [];
    var active = false;
    var count = 0;
    $(".paper_id:checked").each(function(){
      paper_ids.push($(this).val());
    });
    ajaxBatchUpdate(paper_ids,active,count)
  });
  $("#check-all").click(function(){
    $(".paper_id").each(function(){
      $(this).attr("checked","checked")
    });
  })
  function ajaxBatchUpdate(paper_ids,active,count){
    $.ajax({
        type: "POST",
        url: "/papers/"+paper_ids[count],
        dataType: "script",
        contentType: 'application/json',
        data: JSON.stringify({ active:active, _method:'put' })
        })
        .complete(function(data){
          if(count< paper_ids.length-1){
            count += 1;
            ajaxBatchUpdate(paper_ids,active,count);
          }
        })
  }
})

</script> 

<p id="notice"><%= notice %></p>

<h1>試卷管理</h1>
<button class="btn btn-primary"><%= link_to '新增試卷', new_paper_path %></button>
<button class="btn btn-success" id="batch-active">批次有效</button>
<button class="btn btn-danger" id="batch-inactive">批次無效</button>
<%= render 'filters', paper: @paper %>
<table class="table">
  <thead>
    <tr class="thead">
      <th><button class="btn btn-info" id="check-all">全選</button></th>
      <th>Id</th>
      <th>試卷科目&nbsp;
        <a class="sorter" id="name-ASC" href="/papers?relation=paper_subjects&&order=ASC"><img src="/sort-up.png"></a>
        <a class="sorter" id='name-DESC' href="/papers?relation=paper_subjects&&order=DESC"><img src="/sort-down.png"></a>
      </th>
      <th>年級&nbsp;
        <a class="sorter" id="name-ASC" href="/papers?relation=grades&&order=ASC"><img src="/sort-up.png"></a>
        <a class="sorter" id='name-DESC' href="/papers?relation=grades&&order=DESC"><img src="/sort-down.png"></a>      
      </th>      
      <th>試卷名稱&nbsp;
        <a class="sorter" id="name-ASC" href="/papers?orderParam=title&&order=ASC"><img src="/sort-up.png"></a>
        <a class="sorter" id='name-DESC' href="/papers?orderParam=title&&order=DESC"><img src="/sort-down.png"></a>
      </th>
      <th>可見性設定&nbsp;
        <a class="sorter" id="name-ASC" href="/papers?orderParam=visible&&order=ASC"><img src="/sort-up.png"></a>
        <a class="sorter" id='name-DESC' href="/papers?orderParam=visible&&order=DESC"><img src="/sort-down.png"></a>         
      </th>
      <th>上架日期&nbsp;
        <a class="sorter" id="name-ASC" href="/papers?orderParam=public_date&&order=ASC"><img src="/sort-up.png"></a>
        <a class="sorter" id='name-DESC' href="/papers?orderParam=public_date&&order=DESC"><img src="/sort-down.png"></a>      
      </th>
      <th>來源&nbsp;
        <a class="sorter" id="name-ASC" href="/papers?relation=paper_source&&order=ASC"><img src="/sort-up.png"></a>
        <a class="sorter" id='name-DESC' href="/papers?relation=paper_source&&order=DESC"><img src="/sort-down.png"></a>        
      </th>
      <th>備註&nbsp;
        <a class="sorter" id="name-ASC" href="/papers?orderParam=note&&order=ASC"><img src="/sort-up.png"></a>
        <a class="sorter" id='name-DESC' href="/papers?orderParam=note&&order=DESC"><img src="/sort-down.png"></a>        
      </th>
      <th>有效性&nbsp;
        <a class="sorter" id="name-ASC" href="/papers?orderParam=active&&order=ASC"><img src="/sort-up.png"></a>
        <a class="sorter" id='name-DESC' href="/papers?orderParam=active&&order=DESC"><img src="/sort-down.png"></a>       
      </th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @papers.each do |paper| %>
      <tr>
        <td><input type="checkbox" class="paper_id" value=<%= paper.id %>></td>
        <td><%= paper.id %></td>
        <% if paper.paper_subject!=nil%>
          <td class="column-name"><%= paper.paper_subject.title %></td>
        <% end %>
        <td><span class="column-name">
        <% paper.grades.each do |g| %>
          <%= g.name %>,
        <% end %>
        </span></td>
        <td class="column-name"><%= paper.title %></td>
        <td class="column-name"><%= paper.visible %></td>
        <td class="column-name"><%= paper.public_date %></td>
        <td class="column-name"><%= paper.paper_source ? paper.paper_source.name : "" %></td>
        <td class="column-name"><%= paper.note %></td>
        <td>
        <% if paper.active == true%>
        <span class="active">已啟用</span>
        <% else %>
        <span class="inactive">未啟用</span>
        <% end %>
        </td>
        <td><%= link_to '複製', ("/papers/tools/copy/" + paper.id.to_s) %></td>
        <td><%= link_to '編輯', edit_paper_path(paper) %></td>
        <td><%= link_to '刪除', paper, method: :delete, data: { confirm: '你確定?' } %></td>
        <td><%= link_to "題目管理", paper_questions_path(paper,:paper_id => paper.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @papers, :previous_label => '上一頁', :next_label => '下一頁' %>

