<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

<style>
.table{
  font-size: 14px;
}
</style>
<h1>內含試卷清單</h1>
<table class="table table-hover">
  <thead>
    <tr class="table-success">
      <th>試卷 Id&nbsp;</th>
      <th>試卷科目&nbsp;</th>
      <th>年級&nbsp;</th>      
      <th>試卷名稱&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @papers.each do |paper| %>
      <tr>
        <td class="column-name"><%= paper.id %></td>
        <% if paper.paper_subject!=nil%>
          <td class="column-name"><%= paper.paper_subject.title %></td>
        <% end %>
        <td><span class="column-name">
        <% paper.grades.each do |g| %>
          <%= g.name %>,
        <% end %>
        </span></td>
        <td class="column-name"><%= paper.title %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @papers, :previous_label => '上一頁', :next_label => '下一頁' %>
