<form id="filter" action="/paper_set_buy_analytics/api/filter" novalidate="novalidate" method="post">
年段 : <%= collection_select(:filter, :years, Student.select(:years).distinct.where(:id => StudentBuyLog.where(:paper_set_id => PaperSet.where(:platform_type=> session[:platform_id]).pluck(:id)).pluck(:student_id)).order(:years)  , :years, :years, prompt: true) %>
年級 : <%= collection_select(:filter, :grade, Grade.select(:name).distinct.where(:platform_type => session[:platform_id]).order(:name), :name, :name, prompt: true) %>
上架日期: 
<%= collection_select(:filter, :init_public_date, Paper.select(:public_date).distinct.where(:platform_type => session[:platform_id]).order(:public_date), :public_date, :public_date, prompt: true) %>
~
<%= collection_select(:filter, :end_public_date, Paper.select(:public_date).distinct.where(:platform_type => session[:platform_id]).order(:public_date), :public_date, :public_date, prompt: true) %>
<button type="submit">
篩選
</button>
<a href="/paper_set_buy_analytics" class="btn btn-default">重設</a>
</form>
